<h1><%= @section.name %></h1>

<% if @section.lessons.any? %>


    <% @section.lessons.each do |lesson| %>
      <p>
        <%= lesson.day %> <%= link_to lesson.name, section_lesson_path(@section, lesson) %>
      </p>
    <% end %>
<% else %>
  <p>There are no lessons yet!</p>
<% end %>

<%= link_to "Add a Lesson", new_section_lesson_path(@section)%>

<%= link_to "Edit section", edit_chapter_section_path(@section) %>
<%= link_to "Delete section", chapter_section_path(@section),
                         :data => {:confirm => "Are you sure?",
                                        :method => "delete"} %>

<%= link_to "All Sections", chapter_path(@section.chapter) %>
