<h4><%= @lesson.category %> <%= @lesson.day %></h4>

<h1><%= @lesson.name %></h1>

<p>
  <%= @lesson.text %>
</p>

<%= link_to "Edit lesson", edit_section_lesson_path(@section, @lesson) %>
<%= link_to "Delete lesson", section_lesson_path(@section, @lesson),
                         :data => {:confirm => "Are you sure?",
                                        :method => "delete"} %>
