<h1><%= @chapter.name %></h1>

<% if @chapter.sections.any? %>

    <% @chapter.sections.each do |section| %>
      <p>
        (<%= section.week %>)
        <%= link_to section.name, section_path(section) %>
      </p>
    <% end %>
<% else %>
  <p>There are no sections yet!</p>
<% end %>

<br>
<%= link_to "Add a Section", new_chapter_section_path(@chapter)%>
<br>

<%= link_to "Edit this Chapter", edit_chapter_path(@chapter) %>
<br>
<%= link_to "Delete this Chapter", chapter_path(@chapter),
                      :data => { :confirm => "Are you sure you want to delete this chapter/course?",
                      :method => "delete"} %>
